.card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 0.5rem;
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1.5rem;
  color: rgb(114, 114, 114);
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgb(172, 172, 172);
  /* border: 1px solid rgb(172, 172, 172); */
}

/* .card .card-info-para {
    overflow: hidden;
    text-overflow: ellipsis;
} */

.card-trainer-image-container {
  position: relative;
  top: -2rem;
  background-color: lightgreen;
  width: 10rem;
  height: 10rem;
}

/* .card-info-details {
  overflow: hidden;
} */

.card-trainer-image {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  object-position: top left;
  border-radius: 5px;
}

.card-info-header {
  text-transform: capitalize;
  color: rgb(13, 58, 39);
  font-weight: 700;
  margin-bottom: 3px;
}

.card-info-trainer {
  text-transform: capitalize;
  font-weight: 700;
  color: rgb(70, 70, 70);
}

.card-sub {
  font-weight: 700;
  text-transform: capitalize;
  color: rgb(13, 58, 39);
}
/* 
.card-info-row {
  overflow: hidden;
} */

.card-sub-info {
  text-transform: capitalize;
}

/* .card-info-para {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */

/* mixin for multiline */
.card-info-para {
  overflow: hidden;
  position: relative;
  /* line-height: 1.2em; */
  max-height: 6rem;
  text-align: justify;
  margin-right: -1rem;
  padding-right: 1rem;
}
.card-info-para:before {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 1rem;
  background-color: #fff;
}
.card-info-para:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
  margin-top: 0.2rem;
  background: white;
}

.card-info-subscriber {
  justify-self: end;
}

.card-info-rating {
  justify-self: end;
}

.button-subscribe {
  text-shadow: 0px 1px 4px rgb(75, 75, 75);
  box-shadow: 0px 5px 10px 0px rgb(150, 150, 150);
  font-weight: 700;
}

.stars {
  margin-bottom: 5px;
}

.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f8ce0b;
}
