#main-nav-bar {
  display: flex;
  color: #fff;
  margin: 1rem;
  padding: 1rem;
  align-items: center;
}

nav #nav-pane {
  display: flex;
  width: 100%;
}


.nav-item {
  padding: 1rem;
  margin: 1rem;
  color: #fff;
}

.nav-brand a {
    display: flex;
}

.nav-user {
  display: flex;
  margin-left: auto;
}

nav #nav-pane li {
  cursor: pointer;
}

#toggle {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 999;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-out;
  visibility: hidden;
}

#toggle .span {
  height: 3px;
  background: #fff;
  transition: all 0.3s ease-out;
  backface-visibility: hidden;
  margin: 5px auto;
}

#toggle.on #one {
  transform: rotate(45deg) translateX(2px) translateY(4px);
}

#toggle.on #two {
  opacity: 0;
}

#toggle.on #three {
  transform: rotate(-45deg) translateX(8px) translateY(-10px);
}

#resize {
  z-index: 1;
  top: 0px;
  text-align: center;
  position: absolute;
  background: #000;
  width: 100vw;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;
  display: table;
}

#resize #nav-pane {
  height: 50px;
  display: table-cell;
  vertical-align: center;
}

#resize #nav-pane .nav-item {
  display: block;
  text-align: center;
  padding: 20px 0;
  font-size: 50px;
  min-height: 50px;
  font-weight: 200;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
/* 
#resize #nav-pane .nav-item a {
  color: #fff;
} */

#resize.active {
  visibility: visible;
  opacity: 0.99;
}

@media (max-width: 768px) {
  #toggle {
    visibility: visible;
    opacity: 1;
    margin-top: 6px;
  }

  nav #nav-pane {
    display: none;
  }
}

@media (min-width: 769px) {
  #resize {
    visibility: hidden !important;
    width: 0;
  }
}
